<div class="card">
    <div class="card-body">
        <p> {{burger_name}} 

        {{#unless devoured}}<button class="devour btn btn-outline-dark" data-id="{{id}}" data-newlyEaten="{{devoured}}">DEVOUR IT!</button>{{/unless}}</p>
    </div>
</div>