<header class="jumbotron jumbotron-fluid">
  <div class="container">
    <img src="/assets/img/burger.png" width="200px">
    <h1 class="display-4">Eat More Burgers!</h1>
    <p class="lead">Add burgers to your list so you won't forget to eat them.</p>
  </div>
</header>

<section class="container" id="subheader">
  <div class="row justify-content-center">
    <h2>Add a Burger to Your List</h2>
  </div>
  <div class="row justify-content-center">
    <div class="input-group mb-3 padding">
      <input type="text" class="form-control form-control-lg" id="burger-name" name="name" placeholder="Enter a burger" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-light" type="button" id="add-burger">SUBMIT</button>
      </div>
    </div>
  </div>
</section>

{{!-- two columns containing burgers ready to be eaten and already eaten --}}
<section class="container">
  <div class="row">
    <div class="col-sm-7" id="toEat">
      <h2>To Be Eaten</h2>
      <div class="input-group mb-3">
        {{#each burgers}}
        {{#unless devoured}}
        {{> card-toeat devoured=false}}
        {{/unless}}
        {{/each}}
      </div>
    </div>
    <div class="col-sm-5" id="eaten">
      <h2>Already Eaten</h2>
      <div class="input-group mb-3 background">
        {{#each burgers}}
        {{#if devoured}}
        {{> card-toeat devoured=true}}
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</section>

<script src="/assets/js/burgers.js"></script>